<h1>Edit Merchant</h1>

<h2>Merchant Details</h2>
<hr>

<form method="POST" action="/merchants/<%= @merchant.id %>">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="merchant-name">Name:</label>
      <input value="<%= @merchant.name %>" type="text" name="name" id="name"/>
    </div>
    
  <input type='submit' value="Submit Changes">
</form>