<h1>Your Merchants!</h1>
<ul>
<% for merchant in @merchants %>
    <li>
        <p>Name: <%= merchant.name %></p> 
    </li>
<% end %>
</ul>
<button><a href="/new-merchant">Create a New Merchant?</a></button>