<h1>Create New Merchant</h1>
<hr />
<form method="POST" action="/merchants">
    <table class="content-table">
        <thead>
            <tr>
                <th>Merchant Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                   <label for="merchant-name">Name:</label>
                        <input type="text" name="name" id="name"/>
                        <button class="button-2" type="submit">create</button>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</form>
