<h1>Your Transactions!</h1>

<ul>
<% for transaction in @transactions %>
    <li>
        <p><%= transaction.merchant.name %>  <%= transaction.category.name %>  <%= transaction.amount %></p>
    </li>
<% end %>
</ul>