<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spending Tracker</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/transactions">Transactions</a>
                </li>
            </ul>
        </nav>
        <section>
            <%= yield %>
        </section>
    </body>
</html>