<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" type="text/css" href="/styles/forms.css">
      <style>
         * {
           box-sizing: border-box;
           font-family: sans-serif;
         }
         body {
            margin: 0;
         } 
         
         nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background: #f7f7f7;
            border-right: 1px solid #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
         }

         nav img {
            width: 60%;
            display: block;
            margin-bottom: 35px;
         }

         nav a {
            display: inline-block;
            text-decoration: none;
            padding: 5px 15px;
            font-size: 0.9em;
            font-weight: bold;
            color: #222c6a;
            text-transform: uppercase;
            letter-spacing: 0.05em;
         }
         
         nav a:hover {
            color: #009879;
         }

         main {
            margin-left: 250px;
            padding: 10px;
            color: #555;
         }
      </style>
   </head>
   <body>
      <nav>
         <img src="https://image.flaticon.com/icons/png/512/21/21138.png" alt="british-pound-magnifying-glass-logo">
         
               <a href="/">Transactions</a>
           
               <a href="/merchants">Merchants</a>
            
               <a href="/categories">Categories</a>
            
      </nav>
      <main>
      <%= yield %>
      </main>
   </body>
</html>