<h1>Your Category Tags!</h1>

<ul>
<% for category in @categories %>
    <li>
        <p>Tag: <%= category.name %></p> 
        <form action="/category/<%= category.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
        </form>
    </li>
<% end %>
</ul>
<button><a href="/new-category">Create a New Category?</a></button>