<h1>Create New Category</h1>
<hr />
<form method="POST" action="/categories">
    <table class="content-table">
        <thead>
            <tr>
                <th>Category Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                     <label for="category-name">Tag:</label>
                        <input type="text" name="name" id="name"/>
                        <button class="button-2" type="submit">create</button>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</form>
